.page-testimonials-list {
  background-image: url("../images/undraw_respond_8wjt.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 50%;
    background-position: 199px -80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 40%;
    background-position: 100% 10px;
  }
}
